@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Puppies Home</h1>
    <p>If you like puppies go to our <a class="btn btn-primary" asp-area="" asp-controller="Puppies" asp-action="Index">Puppies Section</a>.</p>
</div>

